.contenedor {
    top: 10;
    margin: 800;
    padding: 600;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #cdb2ec;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /*height: auto;
  width: 60em;
  margin: 3em auto;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;*/
}

.logo {
    margin: 100;
    padding: 100;
    width: 100%;
}

.card {
    margin-top: 35px;
    border: #cdb2ec;
    width: 500px;
    height: auto;
    padding: 50px;
    position: center;
    top: 6%;
    left: 28%;
    transform: translate(10%, 0%);
    background-color: rgb(153, 102, 153);
    color: rgb(236, 236, 34);
}

.card label h1 h6 {
    color: rgb(14, 9, 9);
}

label {
    color: rgb(14, 10, 10);
}


/* MONITOR */

@media only screen and (min-width: 1920px) {
    .card {
        margin-top: 7em;
        width: 600px;
        height: auto;
        padding: 80px;
        margin-top: 13em;
        left: 32%;
    }
}