<div [ngClass]="{'container': statusPantalla <= 10}">

    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header text-uppercase">Cambios y Devoluciones</div>
        <span class="lstick"></span>
        <div class="card-body">
            <div class="row">
                <div class="col-12">

                    <app-loading *ngIf="loading"></app-loading>

                    <div *ngIf="!loading && lstCambiosDevoluciones.length == 0">
                        <p-toolbar styleClass="mb-4">
                            <ng-template pTemplate="left">
                                <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openModalAdd()"></button>
                            </ng-template>
                        </p-toolbar>

                        <app-item-empty></app-item-empty>
                    </div>

                    <div *ngIf="!loading && lstCambiosDevoluciones.length > 0">

                        <p-table #dt [value]="lstCambiosDevoluciones" [rows]="rows" [paginator]="true" dataKey="idCambioDevolucion" [globalFilterFields]="['venta.noTicket']" [responsive]="true" responsiveLayout="scroll" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} cambios y/o devoluciones"
                            [showCurrentPageReport]="true" styleClass="p-datatable-sm">
                            <ng-template pTemplate="caption">
                                <div class="flex align-items-center justify-content-between">

                                    <div class="row">
                                        <div class="col col-md-7">
                                            <div class="row">
                                                <div class="col col-md-3">
                                                    <button pButton pRipple label="Agregar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openModalAdd()"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-md-5">
                                            <span class="p-input-icon-left" style="width: 100%;">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar por no ticket..." [style]="{'width': '100%'}"/>
                                  </span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem"></th>
                                    <th>No Ticket</th>
                                    <th>Fecha</th>
                                    <th>No Articulos</th>
                                    <th>A favor cliente</th>
                                    <th>Total a Pagar</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cambio let-expanded="expanded">
                                <tr>
                                    <td>
                                        <!-- <button type="button" pButton pRipple [pRowToggler]="cambio" pTooltip="Cambios Realizados" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button> -->
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" pTooltip="Ver Detalles." (click)="showDetails(cambio)"></button>
                                    </td>
                                    <td>
                                        <p-badge [value]="cambio.venta.noTicket" severity="danger" size="large" styleClass="mr-2"></p-badge>
                                    </td>
                                    <td>{{cambio.fecha | date: 'dd/MM/yyyy, hh:mm a'}}</td>
                                    <td>
                                        <p-badge [value]="cambio.noArticulos" severity="success" styleClass="mr-2" size="large"></p-badge>
                                    </td>
                                    <td *ngIf="cambio.subtotal < 0">{{ (cambio.subtotal * (-1)) | currency:'MXN' }}</td>
                                    <td *ngIf="cambio.subtotal >= 0">{{ 0.00 | currency:'MXN' }}</td>
                                    <td *ngIf="cambio.total > 0">{{ cambio.subtotal | currency:'MXN' }}</td>
                                    <td *ngIf="cambio.total <= 0">{{ 0.00 | currency:'MXN' }}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="rowexpansion" let-cambio>
                                <tr>
                                    <td colspan="10">
                                        <div class="p-3">
                                            <p-table [value]="cambio.cambiosDevolucionesArticulos" dataKey="idCambioDevolucion">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th colspan="3">Información Articulo Anterior</th>
                                                        <th colspan="1">Cantidad</th>
                                                        <th colspan="5">Información Articulo Nuevo</th>
                                                        <th colspan="1"></th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-cambio>
                                                    <tr>
                                                        <td>
                                                            <img src="assets/img/only_logo_huitzil.png" width="40" height="40%" class="shadow-1" /> </td>
                                                        <td class="text-decoration-line-through">{{cambio.ventaArticulo.articulo.sku}}</td>
                                                        <td class="text-decoration-line-through">{{cambio.ventaArticulo.articulo.descripcion}}</td>
                                                        <td>
                                                            <p-badge [value]="cambio.cantidad" severity="warning" styleClass="mr-2" size="large"></p-badge>
                                                        </td>
                                                        <td>
                                                            <img [src]="cambio.articulo.imagen" width="40" height="40%" class="shadow-1" />
                                                        </td>
                                                        <td>{{cambio.articulo.sku}}</td>
                                                        <td>{{cambio.articulo.descripcion}}</td>
                                                        <td>{{cambio.articulo.talla}}</td>
                                                        <td>{{cambio.articulo.precio | currency:'MXN' }}</td>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td colspan="6">There are no order for this product yet.</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                    </div>
                    <app-add-cambio-devolucion [_accion]="accion" [(_details)]="selectedCambio" [_allCambiosDevoluciones]="lstCambiosDevoluciones" (saveCambioDevolucion)="getCambiosyDevoluciones()" *ngIf="accion != ''"></app-add-cambio-devolucion>
                </div>
            </div>
        </div>
    </div>

</div>
