<nav class="navbar p-2 mb-5 shadow rounded" [ngClass]="{'navbar-dark bg-dark': dark, 'bg-light': !dark}">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/img/logo_huitzil.png" alt="" width="150" height="35" class="d-inline-block align-text-top" *ngIf="!toggle">
            <img src="assets/img/only_logo_huitzil.png" alt="" width="45" height="35" class="d-inline-block align-text-top" *ngIf="toggle">
            <!-- <h2 class="title" [hidden]="toggle">HUI<span class="danger">TZIL</span></h2> -->
        </a>
        <div id="toggle-menu" [ngClass]="{'toggle-menu': !toggle, 'toggle-menu-chico': toggle}" *ngIf="pantalla>10">
            <div class="pointer open" (click)="toggleMenu()">
                <i class="fa-solid fa-bars pointer" style="font-size: 25px;"></i>
            </div>
            <div class="pointer close" (click)="toggleMenu()">
                <i class="fa-solid fa-xmark pointer" style="font-size: 28px;"></i>
            </div>
        </div>
        <div id="toggle-menu-movil" *ngIf="pantalla<=10" style="position: absolute; left: 6vw">
            <div class="pointer" (click)="toggleMenuMovil()">
                <i class="fa-solid fa-bars pointer" style="font-size: 25px;"></i>
            </div>
        </div>
        <div class="d-flex">
            <div class="theme-toggler" (click)="changeTheme()">
                <!-- <span class="material-icons-sharp active">light_mode</span>
                <span class="material-icons-sharp">dark_mode</span> -->
                <i class="fa-solid fa-sun active"></i>
                <i class="fa-solid fa-moon"></i>
            </div>
            <div [ngClass]="mostrarSideUser ? 'active-nav-item' : null " class="pointer" (click)="showSideUser()">
                <label class="user-picture pointer">
                  <span>{{user.nombre.charAt(0) + user.apellidoPaterno.charAt(0)}}</span>
                </label>
            </div>
        </div>
    </div>
</nav>
