.navbar {
    height: 58px;
    color: var(--color-dark);
}

.theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    width: 4rem;
    margin-top: 5px;
    margin-right: 2em;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.theme-toggler i {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
}

.theme-toggler i.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.user-picture {
    border-radius: 50%;
    /* margin-top: .4rem; */
    height: 35px;
    width: 35px;
    background-color: #90a4ae;
    color: #eaeaea;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: bold;
}

.title {
    margin-left: 10px;
    display: contents;
}

.danger {
    color: var(--color-primary);
}

.toggle-menu {
    position: absolute;
    left: 14vw;
}

.toggle-menu-chico {
    position: absolute;
    left: 6vw;
}

#toggle-menu i {
    /* font-size: 25xpx; */
    color: var(--color-dark);
    display: none;
}

#toggle-menu .open i,
#toggle-menu.active .close i {
    display: block;
}

#toggle-menu .close i,
#toggle-menu.active .open i {
    display: none;
}


/* ========= MEDIA QUERIES ============ */


/* MONITOR */

@media only screen and (min-width: 1920px) {
    .toggle-menu {
        left: 10vw;
    }
    .toggle-menu-chico {
        left: 4vw;
    }
}


/* TABLET */

@media screen and (max-width: 1200px) {
    .toggle-menu {
        display: none;
    }
}


/* CELULAR */

@media only screen and (max-width: 769px) {
    .navbar-brand img {
        display: none !important;
    }
    .title {
        display: none;
    }
    .close {
        display: none;
    }
}