.best-employee {
    background: var(--color-white);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
    /* margin-top: 1rem; */
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.best-employee:hover {
    box-shadow: none;
}

h5 {
    font-weight: bolder;
}

i {
    font-size: 4rem;
}

.gold {
    color: goldenrod;
}

.silver {
    color: silver;
}

.bronze {
    color: sienna;
}

.center {
    display: flex;
    justify-content: center;
}
