<p-dialog [(visible)]="visibleDialog" [style]="{width: '450px'}" header="{{accion}} categoria" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="nombre">Nombre </label>
            <input type="text" pInputText id="nombre" [(ngModel)]="categoria.nombre" required/>
            <small class="p-error" *ngIf="submitted && !categoria.nombre">La descripción es requerida.</small>
            <small class="p-error" *ngIf="submitted && categoria.nombre?.length > 0 && categoria.nombre?.length <= 2">La descripcion debe contener minimo 3 caracteres</small>
        </div>
        <br>
        <div class="field">
            <label for="descripcion">Descripcion </label>
            <input type="text" pInputText id="descripcion" [(ngModel)]="categoria.descripcion" required/>
            <small class="p-error" *ngIf="submitted && !categoria.descripcion">La descripción es requerida.</small>
            <small class="p-error" *ngIf="submitted && categoria.descripcion?.length > 0 && categoria.descripcion?.length <= 2">La descripcion debe contener minimo 3 caracteres</small>
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" type="button" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveDatacategoria()"></button>
    </ng-template>

</p-dialog>