<div [ngClass]="{'container': statusPantalla <= 10}">

    <app-loading *ngIf="loading"></app-loading>

    <div class="dashboard-page" *ngIf="!loading">

        <div class="row">
            <div class="col-12" *ngIf="locations">
              <p-dropdown [options]="years" [(ngModel)]="selectedYear" placeholder="Selecciona el año" [showClear]="true"></p-dropdown>
              <p-dropdown [options]="locations" [(ngModel)]="selectedLocation" placeholder="Selecciona sucursal" optionLabel="direccion" optionValue="idUbicacion" [showClear]="true" [style]="{'margin-left': '1em'}"></p-dropdown>
              <button pButton pRipple type="button" label="Aplicar" class="p-button-success" (click)="sendFilters()" [style]="{'margin-left': '1em'}"></button>
              <!-- <p-button class="p-button-success" label="Aplicar" (onClick)="sendFilters()"></p-button> -->
            </div>

            <div class="col col-md-4" *ngIf="dashboard.cards?.length > 0">

                <!-- SALES -->
                <div class="sales">
                    <span><i class="fa-solid fa-dollar-sign"></i></span>
                    <!-- <span><i class="fa-solid fa-store"></i></span> -->
                    <div class="middle">
                        <div class="left">
                            <h3>{{ dashboard.cards[0].title }}</h3>
                            <h2>{{ dashboard.cards[0].value | currency:'MXN' }} </h2>
                        </div>
                        <!-- <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>81%</p>
                        </div>
                    </div> -->
                    </div>
                    <!-- <small class="text-muted">Last 24 hours</small> -->
                </div>
                <!-- END OF SALES -->

            </div>
            <div class="col col-md-4" *ngIf="dashboard.cards?.length > 0">

                <!-- EXPENSES -->
                <div class="expenses">
                    <span><i class="fa-solid fa-file-invoice-dollar"></i></span>
                    <div class="middle">
                        <div class="left">
                            <h3>{{ dashboard.cards[1].title }}</h3>
                            <h2>{{ dashboard.cards[1].value | currency:'MXN' }}</h2>
                        </div>
                        <!-- <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>62%</p>
                        </div>
                    </div> -->
                    </div>
                    <!-- <small class="text-muted">Last 24 hours</small> -->
                </div>
                <!-- END OF EXPENSES -->

            </div>
            <div class="col col-md-4" *ngIf="dashboard.cards?.length > 0">

                <!-- INCOME -->
                <div class="income">
                    <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                    <!-- <span><i class="fa-solid fa-dollar-sign"></i></span> -->
                    <div class="middle">
                        <div class="left">
                            <h3>{{ dashboard.cards[2].title }}</h3>
                            <h2>{{ dashboard.cards[2].value | currency:'MXN' }}</h2>
                        </div>
                        <!-- <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'></circle>
                        </svg>
                        <div class="number">
                            <p>44%</p>
                        </div>
                    </div> -->
                    </div>
                    <!-- <small class="text-muted">Last 24 hours</small> -->
                </div>
                <!-- END OF INCOME -->

            </div>
        </div>

        <div class="row mt-5">
            <!-- GRAPH SALES FOR MONTH -->
            <div class="col col-md-8" *ngIf="dashboard.barchart">
                <app-sales-payment-type [_data]="dashboard.barchart"></app-sales-payment-type>
            </div>
            <!-- END GRAPH SALES FOR MONTH -->


            <!-- RANKING BEST SELLING ITEMS -->
            <div class="col col-md-4" *ngIf="dashboard.rankingA">
                <app-ranking-items-sold [_data]="dashboard.rankingA"></app-ranking-items-sold>
            </div>
            <!-- END RANKING BEST SELLING ITEMS -->
        </div>

        <div class="row mt-5">

            <!-- RANKING EMPLOYEE WITH MORE SALES -->
            <div class="col col-md-4" *ngIf="dashboard.rankingE">
                <app-employee-sales-ranking [_data]="dashboard.rankingE"></app-employee-sales-ranking>
            </div>
            <!-- END RANKING EMPLOYEE WITH MORE SALES -->
            <div class="col"></div>
            <!-- RANKING LOCATION WITH MORE SALES -->
            <div class="col col-md-4" *ngIf="dashboard.rankingS">
                <app-sales-location-ranking [_data]="dashboard.rankingS"></app-sales-location-ranking>
            </div>
            <!-- END RANKING LOCATION WITH MORE SALES -->
            <div class="col col-md-3"></div>

        </div>

        <br>
        <br>

    </div>
</div>
